<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronSocial - Publicaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles4.css') }}">
  
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <img src="{{ url_for('static', filename='img/banner.png') }}" alt="IronSocial Logo" class="logo" width="200px">
                <div class="user-info">
                    <p>Bienvenido, {{ session['username'] }}</p>
                    <nav>
                        <a href="/profile/{{ session['user_id'] }}">
                            <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="Perfil" width="24" height="24"> Mi Perfil
                        </a>
                        <a href="{{ url_for('logout') }}">
                            <img src="{{ url_for('static', filename='img/cerrar.gif') }}" alt="Cerrar Sesión" width="24" height="24"> Cerrar Sesión
                        </a>
                    </nav>
                </div>
            </div>
        </header>

        <div class="content">
            <aside class="left-sidebar">
                <h2>Amigos</h2>
                <ul class="friend-list">
                    {% for friend in friends %}
                        <li>
                            <a href="{{ url_for('profile', user_id=friend['user_id']) }}">
                                <img src="{{ friend['profile_picture'] }}" alt="Foto de {{ friend['username'] }}" style="width: 180px; height: 120px; object-fit: cover;">
                                <span>{{ friend['username'] }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            
           

            <main class="main-content">

                <section class="new-post-form">
                    <h2>Crear Nuevo Post</h2>
                    <form action="/add_photo" method="POST">
                        <label for="photo_url">URL de la Foto:</label>
                        <input type="text" id="photo_url" name="photo_url" placeholder="Ingrese la URL de la foto" required>
    
                        <label for="caption">Descripción:</label>
                        <textarea id="caption" name="caption" rows="4" placeholder="Escribe una descripción" required></textarea>
    
                        <button type="submit">Publicar</button>
                    </form>
                </section>




                <h2>Publicaciones Recientes</h2>
                <section id="posts">
                    {% for photo in photos %}
                        <div class="photo">
                            <img src="{{ photo['photo_url'] }}" alt="Foto">
                            <p>{{ photo['caption'] }}</p>
                            <form action="{{ url_for('delete_post', photo_id=photo['photo_id']) }}" method="POST" style="display:inline;">
                                <button type="submit">Eliminar</button>
                            </form>
                            <a href="{{ url_for('edit_post', photo_id=photo['photo_id']) }}">
                                <button>Editar</button>
                            </a>
                        </div>
                    {% endfor %}
                </section>

                
            </main>

            <aside class="right-sidebar">
                <h2>Otras Publicaciones</h2>
                <ul class="random-posts">
                    {% for post in random_posts %}
                        <li>
                            <a href="{{ url_for('profile', user_id=post['user_id']) }}">
                                <img src="{{ post['photo_url'] }}" alt="{{ post['caption'] }}" style="width: 180px; height: 80px; object-fit: cover;">
                              <br> <span>{{ post['caption'] }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            
            </aside>
        </div>
    </div>

    <footer>
        <p>IronSocial © 2024. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Acerca de IronSocial</a>
            <a href="#">Términos</a>
            <a href="https://github.com/ciberzerone/ironSocial">Desarrolladores: ciberzerone</a>
        </div>
    </footer>
</body>
</html>
