<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronSocial - Perfil de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <div class="container">

        <header>
            <div class="header-content">
                <img src="{{ url_for('static', filename='img/banner.png') }}" alt="IronSocial Logo" class="logo" width="200px">
                <div class="user-info">
                    <h1>Perfil de {{ user['username'] }}</h1>
                    <nav>
                        <a href="/posts">
                            <img src="{{ url_for('static', filename='img/post.png') }}" alt="publicaciones" width="24" height="24"> Publicaciones
                        </a>
                        <a href="{{ url_for('logout') }}">
                            <img src="{{ url_for('static', filename='img/cerrar.gif') }}" alt="Cerrar Sesión" width="24" height="24"> Cerrar Sesión
                        </a>
                    </nav>
                </div>
            </div>
        </header>


        <main>
            <section id="profile-info">
                <h2>Información del Perfil</h2>
                <p><strong>Nombre:</strong> {{ user['username'] }}</p>
                <p><strong>Email:</strong> {{ user['email'] }}</p>
                <p><strong>GitHub:</strong> <a href="{{ user['github'] }}">{{ user['github'] }}</a></p>
                <p><strong>Portafolio:</strong> <a href="{{ user['portfolio'] }}">{{ user['portfolio'] }}</a></p>
            </section>

            <section id="user-photos">
                <h2>Fotos de {{ user['username'] }}</h2>
                {% for photo in photos %}
                    <div class="photo">
                        <img src="{{ photo['photo_url'] }}" alt="Foto" onclick="openModal(this)">
                        <p>{{ photo['caption'] }}</p>
                    </div>
                {% endfor %}
            </section>
        </main>

        <!-- Ventana modal para mostrar la imagen ampliada -->
        <div id="photoModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                <img id="modalImage" src="" alt="Imagen ampliada">
            </div>
        </div>
    </div>
    
    
    <footer>
        <p>IronSocial © 2024. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Acerca de IronSocial</a>
            <a href="#">Términos</a>
            <a href="https://github.com/ciberzerone/ironSocial">Desarrolladores: ciberzerone</a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
