/* Resetear estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ebee;
    color: #1d2129;
}

/* Estilo del encabezado */
header {
    background-color: #3b5998;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 0;
}

/* Estilo del formulario */
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

form h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

form button[type="submit"] {
    width: 100%;
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #314e86;
}

/* Estilo para las secciones de contenido */
section {
    padding: 20px;
}

#login, #register {
    margin-bottom: 20px;
}

#login h2, #register h2 {
    color: #333;
}

/* Estilo de las publicaciones */
.photo {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.photo img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.photo p {
    color: #333;
}



/* Navegación del perfil */
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
